*{
    font-family:'Courier New', Courier, monospace;
    color: white;
}

html{
    
    background-color: black;
}

h1{
    text-align: center;
    color: yellow;
    background-color: #27445C;

}

h2{
    font-size: 75%;
}


#starters_image_div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    border: 5px solid #27445C;
}

.pokemon_images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

#bulbasaur_container{
    background-color: rgb(107, 211, 107);
    padding: 5px;
    border-radius: 10px;
}

#charmander_container{
    background-color: rgb(216, 160, 38);
    padding: 5px;
    border-radius: 10px;
}

#squirtle_container{
    background-color: rgb(87, 172, 221);
    padding: 5px;
    border-radius: 10px;
}